@model TbRequest

<div class="product-details">
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <span id="tbImgName"></span>
                <div id="tbImgSrc">
                    <img src="/Uploads/Users/@Model.Image" style="width:95%; height:300px;" />
                </div>
            </div>
        </div>
    </div>
    <h2>    Name: @Model.Name</h2>
    <h4>    Email: @Model.Gmail</h4>
    <h5>    Phone: @Model.Phone</h5>
    <h5>    Created IN: @Model.CreateDate</h5>
    <h5>    TripId: @Model.RequestId</h5>

    <a href="/Admin/Requests/List">Back to Requests List</a>
</div>